
.graph{
position: relative;
margin-left: 630px;
top: 170px;
width: 50%;
display: inline-block;
z-index: 100;
}

.page{
display: block;
line-height: 0;
height: 0;
}

.pop-scaling{
position: static;
left: 10px;
top: 0;
}


.dashboard-button{
position: relative;
margin-left:20px;
right: 100px;
}


.sidebar-visible{
    position: fixed;
    top: 62.5px;
    left: 0;
    bottom: 0;
    width: 288px;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
}


.sidebar-hidden{
    position: fixed;
    top: 62.5px;
    left: -288px;
    bottom: 0;
    width: 288px;
    height: 100%;
    z-index: -1;
    overflow-x: hidden;
    transition: all 0.5s;
    padding: 0rem 0rem;
    background-color: #f8f9fa;
}

.content-with-sidebar{
    transition: margin-left .5s;
    margin-left: 20rem;
}

.content-without-sidebar{
    transition: margin-left .5s;
    margin-left: 2rem;
}

.sidebar-button{
display:block;
width:200px;
margin-bottom:5px;
}

.page-title{
position:relative;
top:70px;
}

.page-component{
position:relative;
top:-200px;
}

.notebook{
width: 100%;
height: 700px;
margin-top: 50px;
}


.transportation-button{
position:relative;
top:-125px;
margin-bottom:80px;
}

.notebook-button{
position:relative;
top:-175px;
}


.dropdown{
position:relative;
top:-175px;
width:340px;
}

.input{
position:relative;
top:-200px;
margin-bottom: 70px;
}

.transit-slider{
width: 200px;
position:relative;
left: 840px;
top: -200px;
}

.transit-slider-output{
width: 200px;
position:relative;
left: 900px;
top: -220px;
}